<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img name="userImage" alt="user"/><span name="userName" class="hide-menu"></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">Mi Perfil</a></li>
                        <li><a href="javascript:void()">Bandeja de Correos</a></li>
                        <li><a href="javascript:void()">Configuración</a></li>
                        <li><a href="#" onclick="logout();">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
            </ul>
        </nav>
    </div>
</aside>

<script src="~/js/sidebarmenu.js"></script>