@using GNB.Web.Models
@model IEnumerable<TransactionModel>
@{
    ViewData["Title"] = "Index";
}

<environment include="Development">
    <link href="~/lib/thirdPartyLibrary/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
</environment>

<environment exclude="Development">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css"
          asp-fallback-href="~/lib/thirdPartyLibrary/datatables.net-bs4/css/dataTables.bootstrap4.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
</environment>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Transactions</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item active">Transactions</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #25a7c1">
                    <div class="row">
                        <div class="col-11">
                            <span class="card-title text-white"><i class="fa fa-filter"></i> Transaction Search</span>
                        </div>
                        <div class="col-1">
                            <div class="card-actions float-right text-white cursor-pointer">
                                <a data-action="collapse" data-collapse="open"><i class="ti-minus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <form id="frmFilter" class="form-body">
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label class="col-form-label"> Sku code</label>
                                <div class="input-group ">
                                    <input id="skuCode" class="form-control input-filter">
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text"><i class="fa fa-sm fa-id-card"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-footer float-right">
                        <button id="btnSearch" class="btn btn-info "><span class="fa fa-sm fa-search"></span> Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #25a7c1">
                    <div class="row">
                        <div class="col-11">
                            <span class="card-title text-white"><i class="fa fa-table"></i> Transactions</span>
                        </div>
                        <div class="col-1">
                            <div class="card-actions float-right text-white cursor-pointer">
                                <a data-action="collapse"><i class="ti-minus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="form-body">
                        <div class="card-body">
                            <div class="table-responsive m-t-40">
                                <div class="col-12">
                                    <table id="tableTransactions" class="table table-bordered table-striped" style="width: 100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/lib/thirdPartyLibrary/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/thirdPartyLibrary/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
</environment>

<environment exclude="Development">
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"
            asp-fallback-src="~/lib/thirdPartyLibrary/datatables.net/jquery.dataTables.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"
            asp-fallback-src="~/lib/thirdPartyLibrary/datatables.net-bs4/js/dataTables.bootstrap4.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
</environment>

<script src="~/js/Utilities/CustomDataTable.js"></script>
<script src="~/js/App/Transaction-Converter.js"></script>