@using GNB.Web.Models
@model IEnumerable<TransactionModel>
@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/lib/sweetalert/sweetalert.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row page-titles">
        <!--Título-->
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Géneros</h3>
        </div>
        <!--Navegación>-->
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Configuraciones</a>
                </li>
                <li class="breadcrumb-item active">Géneros</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Lista de Géneros</h4>
                    <a class="btn btn-primary pull-right" asp-action="CrearGenero">Crear Género</a>
                    <div class="table-responsive m-t-40">
                        <table id="tablaGeneros" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Sku</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Currency</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center"> @item.Sku</td>
                                            <td class="text-center"> @item.Amount</td>
                                            <td class="text-center"> @item.Currency</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>