@using GNB.Web.Models
@model IEnumerable<TransactionModel>
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Transactions</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item active">Transactions</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">List of transactions</h4>
                    <div class="table-responsive m-t-40">
                        <table id="tablaGeneros" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Sku</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">Currency</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center"> @item.Sku</td>
                                            <td class="text-center"> @item.Amount</td>
                                            <td class="text-center"> @item.Currency</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>